<!DOCTYPE html>
<html ng-app="aplication">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <% if (name != "info"){%>
  <link rel="stylesheet" href="assets/css/Card-Carousel-1.min.css">
  <%}%>
    <link rel="stylesheet" href="assets/css/footer.min.css">
    <link rel="stylesheet" href="assets/css/principalStyles.min.css">
    <link rel="stylesheet" href="assets/css/mini-option.min.css">
    <link rel="stylesheet" href="assets/css/Multiple-items-slider-responsive.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-vmnt.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="assets/css/alertify.min.css">
    <link rel="stylesheet" href="assets/css/themes/default.min.css">
    <link rel="stylesheet" href="assets/css/themes/semantic.min.css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
</head>