<div class="  mt-5">
  <h5 class="ml-5 m-3"> Servicios destacados</h5>
  <hr class="color-hr ml-5 m-3" />
  <div>
    <div class="d-flex flex-row multiple-item-slider">
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a href="/informacion-service?Establecimiento=1"> <img class="img-fluid mx-auto d-block images-carousel "
                src="/public/images/justsmile.jpg" alt="slide 2"></a>

            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=1"> <span class="text-capitalize">
                  Clínica Just Smile</span>
              </a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=1"> <span class="text-capitalize"> Punta
                  Pacifica</span></a>
            </div>
          </div>
        </figure>
      </div>
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a class="colorInfo" href="/informacion-service?Establecimiento=2"> <img
                class="img-fluid mx-auto d-block images-carousel"
                src="/public/images/53060062_557951868033132_6029482214922649600_n.jpg" alt="slide 2"></a>
            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=2"> <span class="text-capitalize"> RED
                  GURU</span></a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=2"><span class="text-capitalize">
                  Panamá</span></a>
            </div>
          </div>
        </figure>
      </div>
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a class="colorInfo" href="/informacion-service?Establecimiento=3"> <img
                class="img-fluid mx-auto d-block images-carousel " src="/public/images/salvador_5.jpg" alt="slide 2">
            </a>
            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=3"><span class="text-capitalize"> Salvador
                  Uomo</span></a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=3"> <span class="text-capitalize">
                  Panamá</span></a>
            </div>
          </div>
        </figure>
      </div>
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a class="colorInfo" href="/informacion-service?Establecimiento=4"> <img
                class="img-fluid mx-auto d-block images-carousel " src="/public/images/Budha_6.jpg" alt="slide 2"></a>
            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=4"> <span class="text-capitalize"> Pink
                  Buddha</span></a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=4"> <span class="text-capitalize"> El
                  Cangrejo</span></a>
            </div>
          </div>
        </figure>
      </div>
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a class="colorInfo" href="/informacion-service?Establecimiento=6"> <img
                class="img-fluid mx-auto d-block images-carousel " src="/public/images/visnhu_2.jpg" alt="slide 2"> </a>
            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=6"> <span class="text-capitalize"> VISHNU
                  SALON  </span></a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=6"> <span class="text-capitalize"> San
                  fransisco</span></a>
            </div>
          </div>
        </figure>
      </div>
      <div class="justify-content-center spacer-slider">
        <figure class="">
          <div class="contenedor">
            <a class="colorInfo" href="/informacion-service?Establecimiento=5"> <img
                class="img-fluid mx-auto d-block images-carousel " src="/public/images/animal_4.jpg" alt="slide 2"></a>
            <div class="texto-encima"></div>
            <div class="centrado"></div> <br>
            <div class="m-2">
              <i class="fa fa-user"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=5"> <span class="text-capitalize"> Animal
                  X </span></a>
              <br>
              <i class="fa fa-map-marker"></i>
              <a class="colorInfo" href="/informacion-service?Establecimiento=5"> <span class="text-capitalize"> Bella
                  Vista</span></a>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>