<div class="row mt-5">
  <h5 class="ml-5 m-3"> Servicios recomendados </h5>
  <hr class="color-hr ml-5 m-3" />
  <div class="col-12  block-13 mt-4">
    <div class="owl-carousel nonloop-block-13">

      <div class="d-block d-md-flex listing card-1  vertical">
        <a href="/informacion-service?Establecimiento=7" class="img d-block"
          style="background-image: url(/public/images/Idental_1.jpg)"></a>
        <div class="lh-content">
          <span class="category">clínicas Dentales</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=7">
              Idental clinic</a></h3>
          <address>Panamá,Calle 34 oeste</address>
        </div>
      </div>

      <div class="d-block d-md-flex listing card-1  vertical">
        <a href="/informacion-service?Establecimiento=8" class="img d-block"
          style="background-image: url(/public/images/cesar_6.jpg)"></a>
        <div class="lh-content">
          <span class="category">Barberias</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=8">
              Cesar Barber Shop</a></h3>
          <address>San Francisco,Calle 71</address>
        </div>
      </div>

      <div class="d-block d-md-flex listing card-1  vertical">
        <a href="/informacion-service?Establecimiento=9" class="img d-block"
          style="background-image: url(/public/images/spa_manos_1.jpg)"></a>
        <div class="lh-content">
          <span class="category">Uñas</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=9">
              Spa Manoso</a></h3>
          <address>Sector Obarrio Calle 50
          </address>

        </div>
      </div>
      <div class="d-block d-md-flex listing card-1  vertical">
        <a href="/informacion-service?Establecimiento=10" class="img d-block"
          style="background-image: url(/public/images/velvet_4.jpg)"></a>
        <div class="lh-content">
          <span class="category">Uñas</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=10">

              Velvet Nails</a></h3>
          <address>Via Argentina,Calle 60 Barrio </address>
        </div>
      </div>
      <div class="d-block d-md-flex listing card-1  vertical">
        <a href="/informacion-service?Establecimiento=5" class="img d-block"
          style="background-image: url(/public/images/animal_4.jpg)"></a>
        <div class="lh-content">
          <span class="category">Funtional Training</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=5">Animal X</a></h3>
          <address>Via Argentina,Calle 60 </address>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">

</div>