<div class="row mt-5">
  <h5 class="ml-5 m-3 mt-3"> Servicios destacados</h5>
  <hr class="color-hr ml-5 m-3" />
  <div class="col-12  block-13 mt-4">
    <div class="owl-carousel nonloop-block-13">
      <div class="d-block d-md-flex listing vertical">
        <a href="/informacion-service?Establecimiento=1" class="img d-block"
          style="background-image: url(/public/images/justsmile.jpg)"></a>
        <div class="lh-content">
          <span class="category">clínicas Dentales</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=1">Clínica Just Smile</a></h3>
          <address>Punta Pacifica</address>
        </div>
      </div>

      <div class="d-block d-md-flex listing vertical">
        <a href="/informacion-service?Establecimiento=2" class="img d-block"
          style="background-image: url(/public/images/53060062_557951868033132_6029482214922649600_n.jpg)"></a>
        <div class="lh-content">
          <span class="category">Masajes Y Spa</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=2">
              RED GURU</a></h3>
          <address>Stripmall diagonal a Multipliza</address>
        </div>
      </div>

      <div class="d-block d-md-flex listing vertical">
        <a href="/informacion-service?Establecimiento=3" class="img d-block"
          style="background-image: url(/public/images/salvador_5.jpg)"></a>
        <div class="lh-content">
          <span class="category">Barberias</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=3">
              Salvador Uomo</a></h3>
          <address>Panamá,Albrook Mall
          </address>

        </div>
      </div>
      <div class="d-block d-md-flex listing vertical">
        <a href="/informacion-service?Establecimiento=4" class="img d-block"
          style="background-image: url(/public/images/Budha_6.jpg)"></a>
        <div class="lh-content">
          <span class="category">Salones</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=4">
              Pink Buddha</a></h3>
          <address>Via Argentina,Plaza El Cangrejo </address>
        </div>
      </div>
      <div class="d-block d-md-flex listing vertical">
        <a href="/informacion-service?Establecimiento=5" class="img d-block"
          style="background-image: url(/public/images/animal_4.jpg)"></a>
        <div class="lh-content">
          <span class="category">Funtional Training</span>
          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
          <h3><a href="/informacion-service?Establecimiento=5">Animal X</a></h3>
          <address>Bella Vista,Calle 48 </address>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5">
</div>