<% include ./partials/head%>

<body class="ng-cloak">
  <% include ./partials/option_nav/navbar%>
  <div class="container " ng-controller="ctrl-create">
    <div class="row d-flex justify-content-center">

      <div class="col-12 mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="data-general" data-toggle="tab" href="#data-gene" role="tab"
              aria-controls="data-gene" aria-selected="true">Datos Generales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="type-service" data-toggle="tab" href="#service" role="tab" aria-controls="service"
              aria-selected="false">Datos Extras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image"
              aria-selected="false">Imagenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="hours-tab" data-toggle="tab" href="#hours" role="tab" aria-controls="hours"
              aria-selected="false">Horario </a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="data-gene" role="tabpanel" aria-labelledby="data-general">
            <div class="col-sm-12 col-md-8 mt-5">
              <div name="myform">
                <div class="form-group mt-5">
                  <label for="from-name bold">Nombre del establecimiento</label>
                  <span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user-o"></i>
                      </span>
                    </div>
                    <input type="text" name="Name_local" id="Name_local"
                      placeholder="Escriba el nombre del establecimiento" class="form-control" id="from-name" />
                    <span class="error_name" id="name_error_message"></span>
                    <span class="highlight"></span>
                    <span class="highlight-err"></span>
                  </div>
                </div>

                <div class="form-group mt-5">
                  <label for="from-name bold">Email</label>
                  <span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-envelope"></i>
                      </span>
                    </div>
                    <input type="email" name="Email" id="email_local"
                      placeholder="Escriba el correo  del establecimiento" class="form-control" id="from-name" />
                    <span class="error_Email" id="Email_error_message"></span>
                    <span class="highlight"></span>
                    <span class="highlight-err"></span>
                  </div>
                </div>

                <div class="form-group mt-5">
                  <label for="from-name bold">Telefono</label>
                  <span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-phone-volume"> 507</i>
                      </span>
                    </div>
                    <input type="text" name="Telefono" id="Tel" placeholder="Escriba el Telefono  del establecimiento"
                      class="form-control" id="from-name" />
                    <span class="error_tel" id="tel_error_message"></span>
                    <span class="highlight"></span>
                    <span class="highlight-err"></span>
                  </div>
                </div>

                <h6 class="mt-5 color-grey bold">Ubicación</h6>
                <hr>
                <div class="input-group mb-3 edtFormMarg mt-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Ubicación</label>
                  </div>
                  <select class="custom-select" name="mySelect" id="mySelect"
                    ng-options="option.name for option in ubication.Panama track by option.id"
                    ng-model="ubication.selectedOption">
                    <option>Elija una Ubicación</option>
                  </select>
                  <span class="error_mySelect" id="mySelect_error_message"></span>
                  <span class="highlight"></span>
                  <span class="highlight-err"></span>
                </div>

                <div class="form-group mt-5">
                  <label for="from-name bold">Inserte Mapa</label>
                  <span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-location-arrow"></i>
                      </span>
                    </div>
                    <input type="text" name="mapa" id="mapa" placeholder="Inserte Link del mapa" class="form-control"
                      id="from-name" />
                  </div>
                </div>

                <div class="mt-4">
                  <h6 class="bold">Precios desde </h6>
                  <hr />
                  <div ng-repeat="p in Price">
                    <div class="custom-control custom-switch">
                      <input type="radio" name="price" class="custom-control-input" id="{{p.id}}" value="{{p.Price}}"
                        ng-model="p.isChecked" ng-click="getIdPrice(this)">
                      <label class="custom-control-label" for="{{p.id}}">{{p.de}} {{p.Precio}}</label>
                    </div>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <label class="h6 bold">Dirección del Establecimiento </label>
                  <hr>
                  <textarea class="form-control" id="idInformation"
                    placeholder="Direccion del establecimiento"></textarea>
                  <span class="error_idInformation" id="idInformation_error_message"></span>
                  <span class="highlight"></span>
                  <span class="highlight-err"></span>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-8" id="imagespView">
                      <img class="rounded mx-auto d-block w-50" id="chamgeImages" src="#">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center" id="idForm">
                  <form method="POST" id="imagesPrincipal" enctype="multipart/form-data">
                    <div id="errMessage"></div>
                    <div class="image-upload-wrap" id="image-upload-input-wrap">
                      <input type='file' class="file-upload-input" id="file-upload-input" name="image"
                        onchange="validateUpload(this);" />
                      <div class="drag-text">
                        <h3>Seleciona una imagen para tu perfil </h3>
                      </div>
                    </div>
                    <div class="file-upload-content" id="file-upload-content">
                      <span class="color-alert" id="image-title"></span>
                      <hr>
                      <img class="file-upload-image" id="file-upload-image" src="#" alt="your image" />
                      <div class="image-title-wrap">
                        <button type="button" onclick="chooseAnotherImages()" class="btn btn-danger btn-block">Eligir
                          Otra
                          <span class="image-title">UploadedImage</span>
                        </button>
                      </div>
                    </div>
                    <div class="row mt-3" id="saveImagesPerfil">
                      <div class="col-sm-12">
                        <button type="button"
                          class="btn btn-outline-primary  btn-lg  btn-block  border btnEstablishment "
                          onclick="uploadImagesServ()">Guardar
                          Imagen</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="mt-5">
                  <button type="submit" class="btn btn-outline-primary  btn-lg  btn-block  border btnEstablishment "
                    ng-click="obtainData(this)">
                    Insertar datos del local <i class="fa fa-chevron-circle-right"></i></button>
                </div>

              </div>
            </div>
          </div>
          <!-- ##### Servicios  local  ##### -->
          <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
            <div class="col-md-12 ">
              <hr>
              <h6 class="bold">Servicios </h6>
              <hr />
              <div>
                <div class="container">
                  <div class="col-md-12 col-sm-12 " id="message">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-6">
                          <div ng-repeat="s in Services">
                            <div class="custom-control custom-switch">
                              <input type="radio" class="custom-control-input" name="micheckbox" id="{{s.id}}"
                                value="{{s.Service}}" ng-model="s.isChecked" ng-click="getIdServ(this)">
                              <label class="custom-control-label" for="{{s.id}}">{{s.Service}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div ng-repeat="subserv in subservice">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" name="subservice" id="{{subserv.id}}"
                                value="{{subserv.Service}}" ng-model="s.isChecked" ng-click="getsubservice(this)">
                              <label class="custom-control-label" for="{{subserv.id}}">{{subserv.Service}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-5 container col-md-8">
                      <div class="form-row">
                        <div class="col">
                          <button class="mt-2 btn btn-outline-primary btn-lg btn-block border" type="submit"
                            ng-click="pushServiceAndSub()">Agregar
                            Servicios
                            <i class="fa fa-chevron-circle-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <hr />
                    <div class="mt-4">
                      <h6 class="bold">Métodos de Pago </h6>
                      <hr />
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group mx-sm-3 mb-2" ng-repeat="Pay in methodPay">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="{{Pay.id}}" value="{{Pay.id}}"
                                ng-click="getmethodPay(this)">
                              <label class="custom-control-label" for="{{Pay.id}}">{{Pay.method}}</label>
                            </div>
                          </div>
                          <button class="mt-2 btn btn-outline-primary btn-lg btn-block border" type="submit"
                            ng-click="sendMethod()">Añadir Método</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ##### Images local  ##### -->
          <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
            <div class="container mt-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-8" id="imagesoView">
                            <img class="rounded mx-auto d-block w-50" id="chamgeImagesO" src="#">
                          </div>
                        </div>
                      </div>
                  <form method="POST" id="imagesId" enctype="multipart/form-data">
                    <div id="errMessage-Id"></div>
                    <div class="image-upload-wrap" id="image-upload-input-wrap-Id">
                      <input type='file' class="file-upload-input" id="file-upload-input-Id" name="image"
                        onchange="validateUploadId(this);" />
                      <div class="drag-text">
                        <i class="fa fa-cloud-upload mt-5 color-nanny icon-upload"></i>
                        <h3>Ingresa Imagen #1</h3>
                      </div>
                    </div>
                    <div class="file-upload-content" id="file-upload-content-Id">
                      <span class="color-alert" id="image-title-Id"></span>
                      <hr>
                      <img class="file-upload-image" id="file-upload-image-Id" src="#" alt="your image" />
                      <div class="image-title-wrap">
                        <button type="button" onclick="chooseAnotherImagesId()" class="btn btn-danger btn-lg">Eligir
                          Otra
                        </button>
                      </div>
                    </div>
                    <div class="row mt-3" id="saveImagesId">
                      <div class="col-sm-12">
                        <button type="button"
                          class="btn btn-outline-primary  btn-lg  btn-block  border btnEstablishment "
                          onclick="uploadImagesServ()">Guardar
                          Imagen</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- images #2 -->
                <div class="col-md-8 mt-3">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-8" id="imagestView">
                            <img class="rounded mx-auto d-block w-50" id="chamgeImagesT" src="#">
                          </div>
                        </div>
                      </div>
                  <form method="POST" id="imageThree" enctype="multipart/form-data">
                    <div id="errMessage-Three"></div>
                    <div class="image-upload-wrap" id="image-upload-input-wrap-Three">
                      <input type='file' class="file-upload-input" id="file-upload-input-Three" name="image"
                        onchange="validateUploadThree(this);" />
                      <div class="drag-text">
                        <i class="fa fa-cloud-upload mt-5 color-nanny icon-upload"></i>
                        <h3>Ingresa Imagen #2</h3>
                      </div>
                    </div>
                    <div class="file-upload-content" id="file-upload-content-Three">
                      <span class="color-alert" id="image-title-Three"></span>
                      <hr>
                      <img class="file-upload-image" id="file-upload-image-Three" src="#" alt="your image" />
                      <div class="image-title-wrap">
                        <button type="button" onclick="chooseAnotherImagesThree()"
                          class="btn btn-danger btn-block">Eligir Otra
                        </button>
                      </div>
                    </div>
                    <div class="row mt-3" id="saveImagesThree">
                      <div class="col-sm-12">
                        <button type="button"
                          class="btn btn-outline-primary  btn-lg  "
                          onclick="uploadImagesServ()">Guardar
                          Imagen</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="form-row mt-3">
                <div class="col">
                  <button class="mt-2 btn btn-outline-primary btn-lg btn-block border btnEstablishment" type="submit"
                    ng-click="ValidateImages()"> Validar Imagenes
                    <i class="fa fa-chevron-circle-right"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- ##### Horario del local  ##### -->
          <div class="tab-pane fade" id="hours" role="tabpanel" aria-labelledby="hours-tab">
              <div class="container mt-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                      <form id="Disponibilidad">
                        <div class="container d-flex justify-content-center">
                          <div class="row d-flex justify-content-center">
                            <div class='col-md-12'>
                              <div>
                                <h5 class="text-center">Lunes</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Lunes" name="lunes">
                                    <span id="lunestTarget" style="margin-left: 30px;"></span>
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="LunesCierre" name="lunesCierre">
                                  </div>
                                </div>
    
                              </div>
                              <!-- martes -->
                              <div class="mt-5">
                                <h5 class="text-center">Martes</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Martes" name="martes">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="MartesCierre"
                                      name="martesCierre">
                                  </div>
                                </div>
    
    
                              </div><br>
                              <!-- miercoles -->
                              <div class="mt-5">
                                <h5 class="text-center">Miércoles</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Miércoles" name="miercoles">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="MiércolesCierre"
                                      name="miercolesCierre">
                                  </div>
                                </div>
    
                              </div>
                              <!-- jueves -->
                              <div class="mt-5">
                                <h5 class="text-center">Jueves</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde </label>
                                    <input class="time ui-timepicker-input" type="text" id="Jueves" name="jueves">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta </label>
                                    <input class="time ui-timepicker-input" type="text" id="JuevesCierre"
                                      name="juevesCierre">
                                  </div>
                                </div>
    
    
                              </div>
                              <!-- viernes -->
                              <div class="mt-5">
                                <h5 class="text-center">Viernes</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Viernes" name="viernes">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="ViernesCierre"
                                      name="viernesCierre">
                                  </div>
                                </div>
    
                              </div>
    
                              <!-- sabado -->
                              <div class="mt-5">
                                <h5 class="text-center">Sábado</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Sábado" name="sabado">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="SábadoCierre"
                                      name="sabadoCierre">
                                  </div>
                                </div>
    
                              </div>
                              <!-- domingo -->
                              <div class="mt-5">
                                <h5 class="text-center">Domingo</h5>
                                <hr>
                                <div class="d-flex justify-content-center">
                                  <div class="col-4">
                                    <label for="">Desde</label>
                                    <input class="time ui-timepicker-input" type="text" id="Domingo" name="domingo">
                                  </div>
                                  <div class="col-4">
                                    <label for="">Hasta</label>
                                    <input class="time ui-timepicker-input" type="text" id="DomingoCierre"
                                      name="domingoCierre">
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex justify-content-center mt-3 ">
                                <button class=" btn btn-outline-primary btn-lg btn-block border btnEstablishment" id="sendDataPersonal" type="button"
                                   ng-click="sendDataDisponibilidad()">Guardar
                                  Datos
                                  <i class="fa fa-save"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <% include ./partials/script-create-service/script%>
  <% include ./partials/script-create-service/script%>
</body>

</html>