<% include ./partials/head%>

<body>
  <% include ./partials/option_nav/navbar%>
  <!-- [[body]] -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="d-flex justify-content-center bold">¿Quienes somos ? </h4>
          <p class="text-justify ">
            Somos el único portal de Panamá, dedicado al cuidado personal en general, tanto para hombres
            como mujeres. Una pagina 100% innovadora donde tienes que estar para poder llegar a más personas A través de
            nuestra
            guia podrás
            promover tu comercio, con fotos, videos, productos, promociones, ofertas y más. GUIA LOOK te ayudará a
            potenciar tu
            comercio.</p>
        </div>
      </div>
    </div>
  </section>
  <% include ./partials/footer/footer%>
  <% include ./partials/script%>