<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" href="assets/css/Card-Carousel-1.css">
  <link rel="stylesheet" href="assets/css/footer.css">
  <link rel="stylesheet" href="assets/css/principalStyles.css">
  <link rel="stylesheet" href="assets/css/mini-option.css">
  <link rel="stylesheet" href="assets/css/Multiple-items-slider-responsive.css">
  <link rel="stylesheet" href="assets/css/Navbar-vmnt.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/alertify.min.css">
  <link rel="stylesheet" href="assets/css/themes/default.min.css">
  <link rel="stylesheet" href="assets/css/themes/semantic.min.css">
</head>

<body>
  <% include ./partials/option_nav/navbar%>
  <% include ./partials/option_nav/optionnavigationPassword%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 mt-5">
          <h4 class="bold">Recuperar contraseña </h4>
          <hr class="color-hr-password">
        </div>
        <form action="">
          <label for="inputPassword5">Email</label>
          <input type="email" id="inputPassword5" class="form-control mt-2" placeholder="Escriba su email">
          <button type="submit" class="btn btn-warning mt-3">Recuperar</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br class="mt-5">




  <% include ./partials/footer/footer%>
  <% include ./partials/script%>
</body>

</html>