<footer class="footer-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 item">
        <h3 class="colorLink"> SOBRE GUIA LOOK</h3>
        <hr class="bg-hr">
        <ul>
          <li><a href="/politica-uso">Politicas de Uso&nbsp;</a></li>
          <li><a href="/Condiciones">Condiciones&nbsp;</a></li>
          <li><a data-toggle="modal" data-target="#sesion" href="/Condiciones">Iniciar sesion&nbsp;</a></li>
        </ul>
      </div>
      <div class="col-sm- col-md-3 item">
        <h3 class="colorLink">CONTÁCTANOS</h3>
        <hr class="bg-hr">
        <ul>
          <li><a href="/contact-pages">contacto@guialook.com</a></li>
          <!-- <li><a href="#">Careers</a></li> -->
        </ul>
      </div>
      <div class="col-md-6 item  ">
        <h3><a href="#" class="colorLink">¿QUIENES SOMOS ? </a></h3>
        <hr class="bg-hr">
        <ul>
          <li><a class="colorLink" href="/Nosotros">Sobre nosotros</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright mt-5"> <a class="copyright" href="https://www.plugdo.com/" target="_blank"> Desarrollado con
        Plugdo™
        2019</a>
    </p>
  </div>
</footer>