<!DOCTYPE html>
<html lang="en" ng-app="aplication">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" href="assets/css/Card-Carousel-1.css">
  <link rel="stylesheet" href="assets/css/footer.css">
  <link rel="stylesheet" href="assets/css/principalStyles.css">
  <link rel="stylesheet" href="assets/css/mini-option.css">
  <link rel="stylesheet" href="assets/css/Multiple-items-slider-responsive.css">
  <link rel="stylesheet" href="assets/css/Navbar-vmnt.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/alertify.min.css">
  <link rel="stylesheet" href="assets/css/themes/default.min.css">
  <link rel="stylesheet" href="assets/css/themes/semantic.min.css">
</head>

<body>
  <% include ../partials/politicas/navbar%>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Condiciones</h2>
        <hr>
      </div>
      <div class="col-md-12 mt-5">
        <ol>
          <li>
            EL PROVEEDOR únicamente responsable de poner en la web el Contenido suministrado por EL CLIENTE, sin
            embargo este último es el único responsable por el Contenido así como por todo lo relacionado con el mismo,
            tales como propiedad intelectual, licencias y permisos para la comercialización del Contenido, calidad,
            utilidad, disponibilidad, entre otros. La enumeración antes referida es solo enunciativa y no limitativa de
            la responsabilidad de EL CLIENTE frente a EL PROVEEDOR y sus usuarios por el Contenido comercializado y
            cualquier tipo de consecuencia que pudiese traer la comercialización de dicho Contenido. No obstante lo
            anterior, EL PROVEEDOR es el único dueño de la página web y dispondrá de ésta.
          </li>

          <li class="mt-3">
            EL CLIENTE exonera a EL PROVEEDOR de toda responsabilidad que pudiera derivarse por el uso o publicidad
            que EL PROVEEDOR hiciere, así como de cualquier daño ocasionado a terceros como consecuencia de la
            comercialización del Contenido por parte de EL PROVEEDOR.

          </li>
          <li class="mt-3">
            EL CLIENTE autoriza expresamente a EL PROVEEDOR para el uso de los nombres y marcas comerciales para la
            promoción del servicio conjunto que ofrecen en virtud del presente CONTRATO.

          </li>
          <li class="mt-3">
            Si El CLIENTE acepta mantener durante la vigencia de la oferta un convenio con EL PROVEEDOR a cambio de una
            mejora en comercial economica. Esto quiere decir que EL CLIENTE no podrá celebrar contratos iguales o
            similares con ningún competidor. A cambio, EL CLIENTE recibirá una tarifa especial en la comisión cobrada
            por EL PROVEEDOR.


          </li>
          <li class="mt-3">
            El presente CONTRATO se rige por las Leyes de la República de Panamá.
          </li>
          <li class="mt-3">
            En caso que alguna cláusula, condición o declaración contenida en este CONTRATO sea declarada nula por
            cualquier motivo, el resto delCONTRATO se mantiene de obligatorio cumplimiento para ambas partes.
          </li>
        </ol>
      </div>
    </div>

  </div>
  <% include ../partials/footer/footer%>
  <% include ../partials/script%>
</body>

</html>