:root {
  --bg-color-navbar: #03A9F4 !important;
  --color: #ffffff !important;
  --color-a: #03A9F4;
  --border-ouline: #ffffff;
  --colortwo: #0b6aa8;

}

.color-filter {
  color: #000000
}

.activeA:hover {
  color: var(--color-a) !important;
}

@font-face {
  font-family: "Freestyle Script Normal";
  src: url("/look_boutique/content/assets/fonts/frestyle.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

.autocomplete {
  position: relative;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 18px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.border-ouline {
  border-color: var(--border-ouline) !important;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: #000000;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.color-nav {
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--colortwo);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-navbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-navbar);
}

.color-op {
  color: rgb(241, 132, 5);
}

.color-button {
  color: #060606;
}

.color-icon {
  color: rgb(91, 87, 84) !important;
}

.a-search {
  padding: 1.425rem .75rem !important;
  border: 0;
}

.btn-search {
  padding: 0.65rem .75rem !important;
}

.color-red {
  color: red
}

.top-slide {
  margin-top: 6.5rem !important;
}

@media (min-width:1000px) {
  .container {
    max-width: 1000px;
  }
}


@media (min-width:1200px) {
  .container-look {
    max-width: 1200px;
  }
}


.margin-top-recomendation {
  margin-top: 7% !important;
}

.color-hr {
  color: rgb(0, 0, 0) !important;
}

.contenedor {
  position: relative;
  display: inline-block;
  background-color: #F9F9F9;
  border: 1px solid #CCCCCC;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: rgb(130, 127, 127);
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}

.w-opt {
  width: 142px;
}

.box {
  box-shadow: 2px 2px 0px rgb(45, 44, 44);
}

.position-options {

  position: absolute;
  /* margin-left: 11%; */
}

.hr-r {
  margin-top: 0rem;
}

.nav-bg {
  background-color: #212529;
}

/* * {
  box-sizing: border-box;
} */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.bg-navb {
  background-color: var(--bg-color-navbar) !important;
}

@media (min-width: 802px) {
  .dg-navbar-explora {
    margin-top: -56px !important;
    min-height: 130px !important;
  }
}

@media (max-width: 999px) {
  .mini-options {
    display: none;
  }
}

/*  form css   */

#contactForm .h4 {
  font-weight: 400;
  border-bottom: 1px solid silver;
}

.required-input {
  color: maroon;
}

.static-map {
  margin-bottom: 20px;
}

@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width: 100%;
  }
}

.card.mb-3 {
  border: solid 1px #90878761;
  /* box-shadow: 0px 0px 2px grey; */
}

.map {
  position: absolute;
}

.hr-vertical {
  border: none;
  border-left: 1px solid rgb(212, 213, 214);
  height: 100vh;
  width: 1px;
}

/*  images left  */

.photo-card {
  background-color: #fafeff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .photo-card {
    flex-direction: row;
  }
}

.photo-background {
  background-position: center;
  background-size: cover;
  min-height: 130px;
}

@media screen and (min-width: 700px) {
  .photo-background {
    width: 50%;
  }
}

.photo-details {
  padding: 2.1875em 5%;
}

@media screen and (min-width: 700px) {
  .photo-details {
    width: 100%;
  }
}

.photo-details h1,
.photo-details h4 {
  color: #000000;
  font-weight: 500;
  margin: 0;
}

.photo-details h1 {
  font-size: 125%;
  line-height: 1;
  margin-bottom: 0.35em;
}

.photo-tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 87.5%;
  margin-top: 0.35em;
  text-transform: lowercase;
}

.photo-tags li {
  margin: 0 0.35em 0.35em 0;
}

.photo-tags a {
  background-color: #191e20;
  color: #fff;
  display: block;
  padding: 0.3125em 1.25em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.photo-tags a:hover,
.photo-tags a:focus {
  color: #e37544;
}

.photo-details p {
  color: rgb(10, 10, 10);
}

/*  end images   */

/*  footer  */

footer {
  background-color: #292c2f !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #fff;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #fff;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #fff;
}

.footer-navigation h3 span {
  color: #5383d3;
}

.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

div.social-links {
  margin-top: 20px;
  color: #fff;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/*  filterable galery   */

#filtr-gallery {
  padding: 45px 0;
  background: #f1f1f1;
  color: var(--bg-color-navbar);
}

.filtr-container {
  margin: 0 -4px;
}

.filtr-item {
  padding: 4px;
}

.filtr-controls {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: -2px 0 15px;
}

.filtr-controls span {
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
  padding: 5px 0;
  position: relative;
  color: #777;
}

.filtr-controls span:hover,
.filtr-controls span.active {
  color: var(--bg-color-navbar);
}

.filtr-controls span:after {
  content: ' ';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: transparent;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.filtr-controls span.active:after {
  width: 100%;
  left: 0;
  background: var(--color-a);
  color: var(--color-a);
}

@media (max-width:479px) {
  .filtr-item {
    width: 100%;
  }
}

.filtr-item>a {
  position: relative;
  display: block;
}

.filtr-item>a:before,
.filtr-item>a:after {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.filtr-item>a:before {
  content: ' ';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.filtr-item:hover>a:before {
  background: rgba(0, 0, 0, .2);
}

.filtr-item>a:after {
  font-family: FontAwesome;
  content: '\f0fe';
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -17px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  opacity: 0;
}

.filtr-item:hover>a:after {
  opacity: .5;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button {
  height: 44px;
  line-height: 44px;
  font-family: Arial, Baskerville, monospace;
}

.sl-wrapper .sl-close:focus,
.sl-wrapper .sl-navigation button:focus {
  outline: 0;
}

body.hidden-scroll {
  overflow: hidden;
}

.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  display: none;
  z-index: 1050;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  top: 30px;
  display: none;
  color: #000;
  position: fixed;
}

.sl-wrapper {
  z-index: 1040;
}

.sl-wrapper button {
  border: 0;
  background: 0 0;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}

.sl-wrapper button:hover {
  opacity: .7;
}

.sl-wrapper .sl-close {
  right: 30px;
  z-index: 1060;
  margin-top: -14px;
  margin-right: -14px;
  width: 44px;
  font-size: 5rem;
}

.sl-wrapper .sl-counter {
  left: 30px;
  z-index: 1060;
  font-size: 1rem;
}

.sl-wrapper .sl-navigation {
  width: 100%;
  display: none;
}

.sl-wrapper .sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -22px;
  width: 22px;
  text-align: center;
  display: block;
  z-index: 1060;
  color: #000;
}

.sl-wrapper .sl-navigation button.sl-next {
  right: 5px;
  font-size: 2rem;
}

.sl-wrapper .sl-navigation button.sl-prev {
  left: 5px;
  font-size: 2rem;
}

.sl-wrapper .sl-image {
  position: fixed;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
}

.sl-wrapper .sl-image img {
  margin: 0;
  padding: 15px;
  display: block;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  background: #fff;
}

.sl-wrapper .sl-image iframe {
  background: #000;
  border: 0;
}

.select-tablet {
  display: none;
}


@media (max-width:763px) {
  .select-tablet {
    margin-right: -200px !important;
    display: initial !important;
    width: 160px
      /* margin: 2px !important; */
    ;
    margin: auto !important;
  }
}

@media (max-width:1042px) {
  .map-display {
    display: none;
  }
}

@media (max-width:767px) {
  .phone-categories {
    display: none;
  }
}

@media (max-width:497px) {
  .phone-categories {
    display: none;
  }
}


@media (max-width:497px) {
  .tablet-Ui-local {
    margin-left: none !important;
  }
}

@media (max-width:957px) {
  .tablet-Ui {
    margin-left: -100px;
  }
}

@media (max-width:999px) {
  .tablet-Ui {
    margin-left: -100px;
  }
}

/* media query information local  */


@media (min-width:833px) {
  .carrouselImages {
    width: 600px;
  }
}

@media (min-width:833px) {
  .Information {
    width: 600px !important;
  }
}

@media (max-width:998px) {
  .col-md-mobil {
    display: none !important;
  }
}

@media (max-width:953px) {
  .container-service {
    width: 200px;
  }
}

@media (width:768px) {
  .row-ipat {
    width: 700px;
  }
}

/* @media (min-width:1024px) {
  .card-ipat {
    width: 600px
  }
} */

@media (min-width:999px) {
  .clasificacion .first-click {
    background-color: #165BBC !important;
    border: 1px solid #165BBC !important;
    border-radius: 4px !important;
    color: #fff !important;
    display: block !important;
    float: right !important;
    font-size: 23px !important;
    margin-top: -43px !important;
    padding: 1px 6px !important;
    position: relative !important;
    margin-left: 244px !important;
  }
}



/* end Information Local */

@media (min-width:35.5em) {
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
}

@media (min-width:35.5em) {
  .sl-wrapper .sl-navigation button.sl-next {
    right: 10px;
    font-size: 4rem;
  }
}

@media (min-width:35.5em) {
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 10px;
    font-size: 4rem;
  }
}

@media (min-width:35.5em) {

  .sl-wrapper .sl-image iframe,
  .sl-wrapper .sl-image img {
    border: 0;
  }
}

@media (min-width:50em) {
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
}

@media (min-width:50em) {
  .sl-wrapper .sl-navigation button.sl-next {
    right: 20px;
    font-size: 6rem;
  }
}

@media (min-width:50em) {
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 20px;
    font-size: 6rem;
  }
}

@media (min-width:50em) {

  .sl-wrapper .sl-image iframe,
  .sl-wrapper .sl-image img {
    border: 0;
  }
}

.sl-wrapper .sl-image .sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
  -webkit-animation: opacity .6s ease-out;
  -moz-animation: opacity .6s ease-out;
  -ms-animation: opacity .6s ease-out;
  -o-animation: opacity .6s ease-out;
  animation: opacity .6s ease-out;
}

.sl-wrapper .sl-image .sl-caption.pos-top {
  bottom: auto;
  top: 15px;
}

.sl-wrapper .sl-image .sl-caption.pos-outside {
  bottom: auto;
}

.sl-wrapper .sl-image .sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #000;
  z-index: 1060;
}

.sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1057;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  -ms-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@keyframes pulsate {}

@keyframes opacity {}

/*  end filterable   */

.btn-font {
  font-size: 14px;
}

/* carousel */
@media(max-width:476px) {
  .images-carousel {
    width: 100% !important;
    height: 30% !important;
  }
}

.images-carousel {
  width: 306px;
  height: 132px;
}

.line-rigth {
  border-right: solid 1px #c3bdbd !important;
}

.cls-imagesP {
  width: 196px;
  height: 130px;
  border-radius: 10px;
}

.images-b {
  height: 15px;
}

.carousel-edit {
  position: relative !important;
  /* height: 400px !important; */
  background-color: #423f3f !important;
  box-shadow: 1px -1px 15px 0px grey !important;
}

.images-h {
  overflow: hidden;
}

.look-direccion {
  color: grey;
  font-size: 14px;
}

.color-tel {
  color: grey;
}

.imges-banners {
  width: 100%;
  height: 299px;
}

.bold {
  font-weight: bold;
}

.color-grey {
  color: rgb(80, 82, 84);
}

.color-check:hover {
  color: var(--color-a);
  transition: 0.2s;
}

.m-top {
  margin-top: 30px;
}

.m-300-look {
  margin-left: 300px !important
}

/* .container-image:hover {
  transform: scale() !important;
  transform: scale(1.3) !important;

}

.container-image {
  overflow: hidden !important;
} */
.mt-10 {
  margin-top: 10px;
}

.mt--19 {
  margin-top: -19px;
}

.a2 {
  color: #000;
}

.a2:hover {
  color: #ffffff;
}

.h-130 {
  height: 130px;
}

.color-hr-direction {
  margin-top: -7px;
  color: var(--color-a) !important;
  background: var(--color-a);
  border: solid 2px var(--color-a);
}

.configuration-icon-slide {
  background-color: black;
  width: 30px;
  height: 30px;
}

/* file input  */
.custom-file-label:before {
  content: "";
}

.custom-file-label:after {
  content: "Adjuntar Imagen " !important;

}

.contenedor-horario {
  margin-top: 2px;
  width: 628px;
  height: 300px;
  overflow: auto;
  border: solid 1px grey;
}

/* modal css config  */
.config-header-modal {
  border-bottom: none !important;
}

.modal-content {
  width: 86% !important;

}

@media(max-width:497px) {
  .modal-content {
    width: 100% !important;
    position: relative;
  }
}

.color-hr-password {
  margin-top: -7px;
  color: var(--color-a) !important;
  background: var(--color-a);
  border: solid 2px var(--color-a);
}

.bg-input-look {
  background-color: #ffffff !important;
}

@media(max-width:497px) {
  .suggest-result-holder {
    background-color: #fff;
    position: absolute;
    left: -moz-calc(50% - 181px);
    left: calc(50% - 181px);
    top: 428px;
    margin-left: 1.57143rem !important;
    width: 330px;
    border: 1px solid #b0b0b0;
    z-index: 100;
    display: none;
  }
}

input[type="radio"] {
  display: none;
}

.start {
  color: black;
  font-size: 30px;

  margin-right: 10px !important;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  margin-right: 179px !important;
}

.start:hover,
.start:hover~.start {
  color: orange;
}

input[type="radio"]:checked~.start {
  color: orange;
}

.border-form {
  border: solid 1px #d6cece;
}

.red {
  border-color: red;
  color: red;
  box-shadow: 3px -1px 15px 0px red;
  padding: 10px;
}

.green {
  border-color: green;
  color: green;
}

.service-list {
  padding: 10px 10px;
}

.limit-list {
  height: 300px !important;
  overflow: auto;
}

.font-small {
  font-size: 14px;
}

.search-input-large {
  width: 600px
}

@media(max-width:574px) {
  .search-input-large {
    width: 400px
  }
}

@media(max-width:587px) {
  .search-input-large {
    width: 561px
  }
}

@media(max-width:597px) {
  .search-input-large {
    width: 563px
  }
}

@media(max-width:538px) {
  .search-input-large {
    width: 506px
  }
}

@media(max-width:516px) {
  .search-input-large {
    width: 476px
  }
}

@media(max-width:557px) {
  .search-input-large {
    width: 520px;
  }
}

@media(max-width:540px) {
  .search-input-large {
    width: 420px;
  }
}

@media(max-width:617px) {
  .search-input-large {
    width: 420px;
  }
}

@media(max-width:617px) {
  .search-input-large {
    width: 400px;
  }
}

@media(max-width:360px) {

  .search-input-large {
    width: 332px;
  }
}

@media (max-width:750px) {
  .w-50 {
    width: 100% !important;
  }
}

.border {
  border-radius: 0;
  border-color: #b0b0b0 !important;
}

.container-photo-look {
  border: solid 1px #e2d7d7;
  height: 200px;
}

.first-click {
  background-color: #165BBC !important;
  border: 1px solid #165BBC !important;
  border-radius: 4px !important;
  color: #fff !important;
  display: block !important;
  float: right !important;
  font-size: 16px !important;
  margin-top: -61px !important;
  padding: 4px 18px !important;
  position: relative !important;
  margin-left: 114px !important;
}

.arrow {
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #165BBC !important;
  border-top: 10px solid transparent !important;
  height: 0 !important;
  left: -7px !important;
  position: absolute !important;
  top: 6px !important;
  width: -49px !important;
  /* transform: rotate(-71deg) !important; */
}

.mt-16 {
  margin-top: -15px;
}

.icon-done {
  font-size: 30px;
  color: green;
}

.modal-backdrop {
  z-index: 0 !important;
}

.btnuser {
  background: #212529 !important;
  border: none;


}



/* edit checkbox  */

/* The container */
.container-check-search {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check-search input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border: solid 1px #d0c5c5;
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #ffffff;

}

/* When the checkbox is checked, add a blue background */
.container-check-search input:checked~.checkmark {
  border-color: var(--color-a);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check-search input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check-search .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid var(--color-a);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.namelocal {
  color: #2a2a2a;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif
}

.icon-method-pago {
  width: 40px;
  margin: 10px;
}

.icon-money {
  width: 30px;
}

.btnColorHorario {
  color: black !important;
  text-decoration: none !important;
}

.btnColorHorario:hover {
  color: var(--color-a) !important;
  text-decoration: none !important;
}

.bg-headermodal {
  background-image: url(../../assets/img/imagesheader.jpg) !important;
  width: 430px;
  height: 299px;
  background-size: 428px;
  background-repeat: no-repeat
}

.spanclose {
  /* float: right; */
  font-size: 2.5rem !important;
  font-weight: normal !important;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0px 0 #fff;
  opacity: 0.3;
}

.box {
  box-shadow: 0px 1px 11px 10px grey;
}

.group-md {
  position: relative;
  margin-bottom: 25px;
}

.code {
  width: 100px;
}

.round {
  width: 30px;
}

.color-ligth {
  color: #827b7b;

}


.adminStyle {
  border: solid 1px grey;
  width: 180px;
  height: 40px;
}

.btn-search-Home {
  background: var(--bg-color-navbar);
  border-color: var(--bg-color-navbar);

}

.btn-search-Home:hover {
  background: var(--colortwo);
  border-color: var(--colortwo);

}

.color-icon-admin {
  color: #ffffff !important;
}

.color-dark-btn:hover {
  color: #000000 !important
}

.color-local:hover {
  background-color: var(--bg-color-navbar);
  color: var(--color)
}

.text {
  color: #000
}

.text:hover {
  color: var(--color)
}

.logo-guia-look {
  width: 205px;
  position: absolute;
  margin-top: -39px;
}

@media(max-width:529px) {
  .logo-guia-look {
    width: 176px !important;
    position: absolute !important;
    margin-top: -35px !important;
  }

}

@media(min-width:750px) {
  .option-nav {
    margin-left: 500px
  }
}

.colorLink {
  color: #ffffff !important;
}

.bg-hr {
  background: #ffffff;
}

.alertify-notifier .ajs-top .ajs-left {
  background-color: var(--bg-color-navbar) !important;
  color: var(--color) !important;
}

.arrow-admin {
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #ffffff !important;
  border-top: 13px solid transparent !important;
  height: 0 !important;
  right: 98px !important;
  position: absolute !important;
  top: -15px !important;
  width: 0 !important;
  transform: rotate(90deg) !important
}

.option-admin {
  top: 42px;
}

.images {
  width: 200px;
  height: 200px;
}

.image-min {
  width: 200px;
  height: 200px;
}

.center-images {
  text-align: center
}

.dropdown-personalize {
  overflow-x: hidden;
  overflow-y: scroll;

  /* width: 500px; */
  height: 194px;
  position: absolute;
  will-change: transform;
  top: 389px;
  left: 0px;
  transform: translate3d(0px, -348px, 0px)
}



.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fasHover:hover {
  color: green !important;
}