<div class=" sticky-top">
  <nav class="navbar sticky-top navbar-light navbar-expand-md bg-navb navigation-clean-search stiky">
    <div class="container">
      <a class="navbar-brand yellow" href="/"><img class="logo-guia-look" src="/icon/logo.png"></a>
      <button class="navbar-toggler text-warning border-warning bg-yellow" data-toggle="collapse"
        data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon fz-icon-toggle "></span>
      </button>
      <div class=" collapse navbar-collapse d-xl-flex justify-content-xl-end align-items-xl-start option-nav"
        id="navcol-1" class="ng-cloak" ng-controller="ctrl_validateUsers">
        <ul class="nav navbar-nav color-icon-admin " ng-hide="useradmin">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle color-icon-admin" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{nameuser}} {{firstuser }}
            </a>
            <div class="dropdown-menu option-admin" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Perfil</a> -->
              <a class="dropdown-item" href="#" ng-click="rolAdmin()">Agregar Local</a>
              <a class="dropdown-item" href="#" ng-click="rolAdminProfile()">Actualizar Local</a>
              <a class="dropdown-item" href="#" ng-click="closeSesion()">Cerrar Sesión</a>
              <span class="arrow-admin"></span>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav" ng-hide="sessionInit">
          <li class="nav-item" role="presentation">
            <a class="nav-link text-white btn btn-outline-light border-ouline btn-sm color-dark-btn" data-toggle="modal"
              data-target="#sesion">Iniciar sesion</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- modals  -->
  <div class="modal fade" id="sesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="static" class="ng-cloak" ng-controller="ctrl_validateUsers">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header config-header-modal">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2 class="text-center bold" id="exampleModalLabel">Iniciar sesión en Look</h2>
          <form name="myForm">
            <div class="container ">
              <div class="col-sm-12">
                <label class="sr-only" for="">Email</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend  ">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.email.$touched && myForm.email.$invalid ? 'red' :'' "><i class="fas fa-user"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.email.$touched && myForm.email.$invalid ? 'red':'' " type="email"
                    class="form-control bg-input-look  " name="email" ng-model="email" id="email"
                    placeholder="Dirección de email" required autocomplete="off">
                  <span class="text-danger ml-2" ng-show="myForm.email.$touched && myForm.email.$invalid">*</span>
                </div>
              </div>
              <div class="col-sm-12 mt-1">
                <label class="sr-only" for="">Contraseña</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.pass.$touched && myForm.pass.$invalid ? 'red' : ''"><i class="fas fa-unlock"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.pass.$touched && myForm.pass.$invalid ? 'red' :'' " type="password"
                    class="form-control bg-input-look" name="pass" ng-model="pass" id="password"
                    placeholder="Contraseña" required autocomplete="off">
                  <br>
                  <span class="text-danger ml-2" ng-show="myForm.pass.$touched && myForm.pass.$invalid">*</span>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <input type="submit" class="btn btn-primary btn-block btn-search-Home "
                    ng-click="validateuser('guialook')" value="Entrar ">
                </div>
                <div class="col">
                  <input type="submit" class="btn btn-dark btn-block " data-toggle="modal" data-target="#register"
                    ng-click="hideModalSession()" value="Registrarme">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" class="ng-cloak" ng-controller="ctrl_validateUsers">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header config-header-modal">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2 class="text-center bold" id="exampleModalLabel">Registro en Guia Look</h2>
          <form name="myForm">
            <div class="container ">
              <div class="col-sm-12">
                <label class="sr-only" for="">Nombre</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend  ">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.name.$touched && myForm.name.$invalid ? 'red' :'' "><i class="fas fa-user"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.name.$touched && myForm.name.$invalid ? 'red':'' " type="text"
                    class="form-control bg-input-look  " name="name" ng-model="name" id="name" placeholder="Nombre"
                    required autocomplete="off">
                  <span class="text-danger ml-2" ng-show="myForm.name.$touched && myForm.name.$invalid">*</span>
                </div>
              </div>
              <div class="col-sm-12">
                <label class="sr-only" for="">Apellido</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend  ">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.apellido.$touched && myForm.apellido.$invalid ? 'red' :'' "><i
                        class="fas fa-user"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.apellido.$touched && myForm.apellido.$invalid ? 'red':'' " type="text"
                    class="form-control bg-input-look  " name="apellido" ng-model="apellido" id="apellido"
                    placeholder="apellido" required autocomplete="off">
                  <span class="text-danger ml-2" ng-show="myForm.apellido.$touched && myForm.apellido.$invalid">*</span>
                </div>
              </div>
              <div class="col-sm-12">
                <label class="sr-only" for="">Email</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend  ">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.email.$touched && myForm.email.$invalid ? 'red' :'' "><i class="fas fa-user"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.email.$touched && myForm.email.$invalid ? 'red':'' " type="email"
                    class="form-control bg-input-look  " name="email" ng-model="email" id="emailr"
                    placeholder="Dirección de email" required autocomplete="off">
                  <span class="text-danger ml-2" ng-show="myForm.email.$touched && myForm.email.$invalid">*</span>
                </div>
              </div>
              <div class="col-sm-12 mt-1">
                <label class="sr-only" for="">Contraseña</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-input-look"
                      ng-class="myForm.pass.$touched && myForm.pass.$invalid ? 'red' : ''"><i class="fas fa-unlock"></i>
                    </div>
                  </div>
                  <input ng-class="myForm.pass.$touched && myForm.pass.$invalid ? 'red' :'' " type="password"
                    class="form-control bg-input-look" name="pass" ng-model="pass" id="passwordr"
                    placeholder="Contraseña" required autocomplete="off">
                  <br>
                  <span class="text-danger ml-2" ng-show="myForm.pass.$touched && myForm.pass.$invalid">*</span>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <input type="submit" class="btn btn-dark btn-block " ng-click="validateuser('register')" value="Registrarme">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div style="background-color:#ffffff" class="ng-cloak" ng-controller="ctrl_validateUsers">
    <% if(name != "home" && name != "r-password") {%>
    <div class="filtr-controls d-none d-md-block m-top-filter-control" style="height: 29px;">
      <span class="text-capitalize text-dark " data-filter="">
        <a href="/" class="color-filter activeA">Inicio</a> </span>
      <%  if(name == "advanced"){%>
      <span class="text-capitalize  active " data-filter="">
        <a href="/busqueda-avanzada" style=" color: var(--color-a)">Búsqueda Avanzada</a>
      </span>
      <% } else{%>
      <span class="text-capitalize text-dark " data-filter="">
        <a href="/busqueda-avanzada " class="color-filter activeA">Búsqueda Avanzada</a>
        <%}%>
      </span>
      <% if (name == "create" ){%>
        <span class="text-capitalize active" data-filter="">
          <a href="#" ng-click="rolAdmin()" style=" color: var(--color-a)">Agregar local</a>
        </span>
        <%}else{%>
        <span class="text-capitalize text-dark" data-filter="">
          <a href="#" class="color-filter activeA" ng-click="rolAdmin()">Agregar local</a>
        </span>
        <%}%>
    </div>
    <hr class=" d-none d-md-block">
    <%}%>
    </div>

  </div>