<div class="filtr-controls d-none d-md-block m-top-filter-control" style="height: 29px;">
  <span class="text-capitalize text-dark" data-filter="">
    <a href="/" class="color-filter">Inicio</a> </span>
  <span class="text-capitalize  " data-filter="">
    <a href="/busqueda-avanzada" class="color-filter">Búsqueda Avanzada</a>
  </span>
  <span class="text-capitalize text-dark " data-filter="">
    <a href="/create-service" class="color-filter">Agregar local</a>
  </span>
</div>
<hr>